In [3]:
a = 13 # J'ai mis 12 dans la variable "a"
print(a) # J'affiche "a"

13

In [4]:
print(a + 6)

19

## Les variables

Introduction aux variables

In [5]:
print(type(a))

<class 'int'>

In [6]:
a = 2.0
print(type(a))

<class 'float'>

In [7]:
mon_entier = 2

In [9]:
print(mon_entier + 4.0)

6.0

In [10]:
mon_entier = mon_entier + 4.0

MA_CONSTANTE = 5

class MaClass:
    pass

In [11]:
print(type(mon_entier))

<class 'float'>

In [14]:
ma_chaine = "Bonjour tout le monde"
print(ma_chaine)
print("ma_chaine")
print(type(ma_chaine))

Bonjour tout le monde
ma_chaine
<class 'str'>

In [16]:
a_mange = True
veut_dormir = False

print(type(a))

<class 'bool'>

In [19]:
a_mange = True
veut_dormir = False
a_mange_et_veut_dormir = a_mange and veut_dormir

print(a_mange_et_veut_dormir)
print(a_mange or veut_dormir)

False
True

In [26]:
liste_age = [12,50,37]
print(liste_age)
print(liste_age[0])
print(liste_age[1])
print(liste_age[2])
print(liste_age[-1])

liste = [12, True, [24, False]]
print(liste)
print(liste[2][0])

[12, 50, 37]
12
50
37
37
[12, True, [24, False]]
24

In [32]:
personne = {'nom': 'Dupont', "âge": 36, 5:'Inutilé'}
print(personne['âge'])
print(personne['nom'])
print(personne[5])

36
Dupont
Inutilé

In [33]:
classe = [
    {'nom': 'Gentil', 'prenom': 'Mathieu'},
    {'nom': 'Dupont', 'prenom': 'Geraldine'},
    {'nom': 'Gentil', 'prenom': 'Mathieu'},
    {'nom': 'Gentil', 'prenom': 'Mathieu'},
    {'nom': 'Gentil', 'prenom': 'Mathieu'},
    {'nom': 'Gentil', 'prenom': 'Mathieu'}
]

In [38]:
ma_liste = [2,4,2,6,4,8]
mon_set = set(ma_liste)
print(mon_set)
print(list(mon_set)[0])

{8, 2, 4, 6}
8

In [39]:
a = 4
b = a
b = b + 1
print(a)

4

In [40]:
liste1 = [1,3,5,6]
liste2 = liste1
liste2[0] = 9
print(liste1)

[9, 3, 5, 6]

In [41]:
print([0]*10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Création de nos Algos

In [46]:
age = 120
if age > 18:
    print("Majeur")
    print("interieur")
else:
    print("Mineur")

print("exterieur")

Majeur
interieur
exterieur

## Exo : Afficher les nombres pairs de 0 à 100

In [48]:
print(17%2)

1

In [49]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

## Fizz Buzz
afficher "fizz" si i est multiple de 3

afficehr buzz si i est multiple de 5

afficher bazz si i est multiple de 3 et 5

sinon afficher i

Résultat : 
bazz 1 2 fizz 4 buzz .. 14 bazz 16 17 fizz ...

In [57]:
for i in range(100):
    if i % 3 == 0:
        if i % 5 == 0:
            print("bazz")
        else:
            print("fizz")
    elif i % 5 == 0 :
        print("buzz")
    else:
         print(i)

bazz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
bazz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
bazz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
bazz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
bazz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
bazz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
bazz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [62]:
# for i in range(0,100,5):
#     print(i)
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [69]:
ma_liste = [1,4,3,6,5,7,2]
print(ma_liste[0:3])
print(ma_liste[0:-1])
print(ma_liste[:-2])
print(ma_liste[2:])
print(ma_liste[1:-1:2])
print(ma_liste[-2:0:-1])
print(ma_liste[::-1])

[1, 4, 3]
[1, 4, 3, 6, 5, 7]
[1, 4, 3, 6, 5]
[3, 6, 5, 7, 2]
[4, 6, 7]
[7, 5, 6, 3, 4]

In [76]:
name = input("QUel est votre nom ?")
age = int(input("Quel est votre age ?"))
print("Bonjour, " + name)
print("Vous aurez " + str(age+1) + "ans")
print("Vous avez %d et vous aurez %d ans"%(age, age+1))
print(f"Vous avez {age} ans et vous aurez {age+1} ans")

QUel est votre nom ?B
Quel est votre age ?36
Bonjour, B
Vous aurez 37ans
Vous avez 36 et vous aurez 37 ans
Vous avez 36 ans et vous aurez 37 ans

## Recherche par dichotomie

L'ordinateur (notre programme) va générer un nombre au hasard.

A chaque tour, L'utilisateur va proposer une valeur.

Et l'ordinateur répond :
* Plus grand
* Plus petit
* Egal et sort de la boucle

In [88]:
import random

valeur_a_deviner = random.randint(0,101)

"""
    Premiere étape : Laisser l'utilisateur entrer une valeur 
    avec input()
    Lui répondre si ça valeur est plus petite ou 
    plus grande que valeur_a_deviner
"""

trouve = False

while not trouve: # while trouve == False
    valeur = int(input("Devine un nombre entre 0 et 100: "))
    if valeur < valeur_a_deviner:
        print("Ta valeur est trop petite")
    elif valeur > valeur_a_deviner:
        print("Ta valeur est trop grande")
    else:
        print("Bravo")
        trouve = True

Devine un nombre entre 0 et 100: 50
Ta valeur est trop petite
Devine un nombre entre 0 et 100: 75
Ta valeur est trop grande
Devine un nombre entre 0 et 100: 60
Ta valeur est trop grande
Devine un nombre entre 0 et 100: 57
Ta valeur est trop grande
Devine un nombre entre 0 et 100: 53
Bravo

In [89]:
"""
L'utilisateur pense à une valeur
L'ordinateur essaie de la trouver
"""

minimum = 0
maximum = 101

trouve = False
while not trouve:
    valeur_ordinateur = (minimum + maximum) // 2
    print(f"Je pense que c'est {valeur_ordinateur}")
    reponse = input("Est-elle trop grande (G), trop petite (P) ou égale (E) ? ")
    if reponse == "G":
        maximum = valeur_ordinateur
    elif reponse == "P":
        minimum = valeur_ordinateur
    else:
        print("Gagné !")
        trouve = True

Je pense que c'est 50
Est-elle trop grande (G), trop petite (P) ou égale (E) ? P
Je pense que c'est 75
Est-elle trop grande (G), trop petite (P) ou égale (E) ? G
Je pense que c'est 62
Est-elle trop grande (G), trop petite (P) ou égale (E) ? P
Je pense que c'est 68
Est-elle trop grande (G), trop petite (P) ou égale (E) ? E
Gagné !

In [ ]:
def tri_bulle(array):
    """
    
    """
    print("hello")
    print(array[0])
    return True

resultat = tri_bulle(list([2,1,6,4]))

In [90]:
def dire_bonjour():
    print("Bonjour")

In [91]:
dire_bonjour()

Bonjour

In [ ]:
def dire_bonjour(nom, prenom):
    return f"Bonjour {nom} {prenom}"

In [103]:
def dire_bonjour(nom, prenom="Romain", age=36):
    return f"Bonjour {nom} {prenom}. Tu as {age} ans"

In [104]:
print(dire_bonjour("Gallet", age=42))
print(dire_bonjour("Lucet", "Elise"))

Bonjour Gallet Romain. Tu as 42 ans
Bonjour Lucet Elise. Tu as 36 ans

In [128]:
liste_personne = []

def add_personne(nom, prenom, age, attaque, defense, liste):
    """
    Ajoute un dictionaire {'nom': nom, 'prenom': prenom, 'age': age}
    à l'intérieur de la liste
    NB : vous pouvez utiliser liste.append(mon_dictionnaire)
    """
    dico_tmp = {
        'lastname': nom, 
        'firstname': prenom, 
        'age': age,
        'attaque': attaque,
        'defense': defense
    }
    liste.append(dico_tmp)
    
    
add_personne('Henry', 'Amandine', 29, 80,40, liste_personne)
add_personne('Renard', 'Wendy', 29, 60, 70, liste_personne)
add_personne('Bussaglia', 'Amandine', 31, 60, 60, liste_personne)
add_personne('Le Sommer', 'Eugenie', 32, 70, 60, liste_personne)
print(liste_personne)

[{'lastname': 'Henry', 'firstname': 'Amandine', 'age': 29, 'attaque': 80, 'defense': 40}, {'lastname': 'Renard', 'firstname': 'Wendy', 'age': 29, 'attaque': 60, 'defense': 70}, {'lastname': 'Bussaglia', 'firstname': 'Amandine', 'age': 31, 'attaque': 60, 'defense': 60}, {'lastname': 'Le Sommer', 'firstname': 'Eugenie', 'age': 32, 'attaque': 70, 'defense': 60}]

In [113]:
print(liste_personne)
add_personne('Renard', 'Wendy', 29, liste_personne)
add_personne('Bussaglia', 'Amandine', 31, liste_personne)
add_personne('Le Sommer', 'Eugenie', 32, liste_personne)
print(liste_personne)

[{'lastname': 'Henry', 'firstname': 'Amandine', 'age': 29}]
[{'lastname': 'Henry', 'firstname': 'Amandine', 'age': 29}, {'lastname': 'Renard', 'firstname': 'Wendy', 'age': 29}, {'lastname': 'Bussaglia', 'firstname': 'Amandine', 'age': 31}, {'lastname': 'Le Sommer', 'firstname': 'Eugenie', 'age': 32}]

In [109]:
ma_liste = [6, 5, 3]
mon_dictionnaire = {0: 12, 1: 4, 5:18}
print(ma_liste[1])
print(mon_dictionnaire[18])

5
4

In [119]:
for i in range(len(liste_personne)):
    print(liste_personne[i]['lastname'])
    
for personne in liste_personne:
    print(personne['lastname'])
    

# l =  [p['lastname'] for p in liste_personne if p['age'] < 30]
# print(l)

Henry
Renard
Bussaglia
Le Sommer
Henry
Renard
Bussaglia
Le Sommer

In [122]:
age_total = 0
for personne in liste_personne:
    age_total += personne['age']

print(age_total/len(liste_personne))

30.25

In [124]:
moyenne =  sum([p['age'] for p in liste_personne])/len(liste_personne)
print(moyenne)

30.25

In [125]:
def moyenne(personnes):
    return sum([p['age'] for p in personnes]) / len(personnes)

print(moyenne(liste_personne))

30.25

In [130]:
def note_moyenne(personne):
    return (personne['attaque'] + personne['defense'])/2
def note_attaque(personne):
    return personne['attaque']

def note(notation, liste):
    note_total = 0
    for personne in liste:
        note_total += notation(personne)
    return note_total/len(liste)

print(note(note_attaque, liste_personne))

67.5

In [127]:
liste_personne

[{'lastname': 'Henry', 'firstname': 'Amandine', 'age': 29},
 {'lastname': 'Renard', 'firstname': 'Wendy', 'age': 29},
 {'lastname': 'Bussaglia', 'firstname': 'Amandine', 'age': 31},
 {'lastname': 'Le Sommer', 'firstname': 'Eugenie', 'age': 32}]

In [134]:
def tri_bulle(liste):
    """
    Renvoyer une liste triée à partir de 'liste'
    L'algo tri bulle tri les éléments d'une liste en
    comparant tour à tour un élément et le suivant
    """
    for j in range(len(liste)-1):
        for i in range(len(liste)-1):
            if liste[i] > liste[i+1]:
                tmp = liste[i]
                liste[i] = liste[i+1]
                liste[i+1] = tmp
                #liste[i,i+2] = liste[i, i+2][::-1]
                #liste[i], liste[i+1] = liste[i+1], liste[i] 
    return liste
    
print(tri_bulle([3,1,7,2,0]))

[0, 1, 2, 3, 7]

In [153]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep


browser = webdriver.Chrome()

browser.get('https://seloger.com')

input_ville = browser.find_element_by_id("agatha_autocomplete_autocompleteUI__input")
input_ville.send_keys("Paris")
sleep(1)
input_ville.send_keys(Keys.RETURN)

sleep(2)
input_budget = browser.find_element_by_css_selector('input[type="tel"]')
input_budget.clcik()
sleep(1)
input_budget.send_keys("500000")